<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SpeedCoreDbContext" connectionString="metadata=res://*/Framework.SpeedCoreDbContext.csdl|res://*/Framework.SpeedCoreDbContext.ssdl|res://*/Framework.SpeedCoreDbContext.msl;provider=iAnywhere.Data.SQLAnywhere;provider connection string=&quot;UserID=DBA;Password=SpeedPOS@123;DatabaseName=SpeedCoreDb;ServerName=SpeedCoreDb;Host=cmt8.speedtech.vn:9000&quot;" providerName="System.Data.EntityClient" />
    <add name="SpeedClientDbContext" connectionString="metadata=res://*/Framework.SpeedClientDbContext.csdl|res://*/Framework.SpeedClientDbContext.ssdl|res://*/Framework.SpeedClientDbContext.msl;provider=iAnywhere.Data.SQLAnywhere;provider connection string=&quot;UserID=DBA;Password=SpeedPOS@123;DatabaseName=SpeedClientDb;ServerName=SpeedClientDb;Host=cmt8.speedtech.vn:9001&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>